* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --cor-fonte: #B6A347;
    --cor-fundo: #1C1C1A;
    --cor-fundo-2: #cdcece;
    --cor-fundo-botao: #9b9b9b;
}

body {
    background-color: var(--cor-fundo);
}

#fundo-image {
    min-height: 100vh;
    background-image: url('images/fundo-2.jpeg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    width: 31.25rem;
    height: auto;
    border-radius: 14px;
    box-shadow: 8px 8px 30px var(--cor-fundo);
    padding-bottom: 2rem; 
    overflow: hidden; 
}

#titulo {
    font-size: 1.6em;
    margin-bottom: 20px;
    text-align: center;
}

#titulo > span {
    color: var(--cor-fonte);
}

#card.cadastro {
    padding-top: 3rem; 
}

.cadastro > h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#card > #logo-image {
    background-image: url('images/logo-fundo.png');
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 14px 14px 0px 0px;
    box-shadow: 0px 2px 8px var(--cor-fundo);
    margin-bottom: 22px;
}

form > div.campo {
    background-color: var(--cor-fundo-2);
    border: 2px solid var(--cor-fundo);
    display: block;
    width: 90%;
    height: 40px;
    border-radius: 16px;
    margin: 12px 26px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: var(--cor-fundo);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: white;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 96%;
    border: 0px;
    border-radius: 14px;
    padding: 5px;
    transform: translateY(-13px);
    outline: none;
}

form > button {
    display: block;
    font-size: 1.2em;
    width: 40%;
    height: 45px;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px auto;
    transition: all 0.5s ease;
}

form > button:hover {
    background-color: var(--cor-fundo-botao);
    color: black;
    transform: scale(1.1);
}

form > p.link {
    text-align: center;
}

form > p.link > a {
    text-decoration: none;
    color: #8a760a;
    padding: 4px;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.5s ease;
}

form > p.link > a:hover {
    text-decoration: underline;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 0.9em;
    width: 30%;
    height: 30px;
    padding-top: 4px;
    margin-top: 22px;
    margin-left: 326px;
    background-color: white;
    color: black;
    border: 1px solid var(--cor-fundo);
    border-radius: 8px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: var(--cor-fundo-botao);
    color: white;
    transition: all 0.5s ease;
    transform: scale(1.1);
    text-decoration: underline;
}

form > a.botao > span {
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {

    #card {
        width: 90%;
        min-height: 680px;
    }

    #card > #logo-image {
        width: 100%;
        height: 250px;
    }

    form > button {
        width: 60%;
        margin: 20px auto;
    }

    form > a.botao {
        width: 50%;
        margin: 20px auto;
    }
}